doctype html
head
  title Bootstrap Example
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js')
nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand(href='#') WebSiteName
    ul.nav.navbar-nav
      li.active
        a(href='#') Home
      li
        a(href='#') Page 1
      li
        a(href='#') Page 2
      li
        a(href='#') Page 3
body.container
  h3 Basic Navbar Example
  p A navigation bar is a navigation header that is placed at the top of the page.
