extends layout

block content
    script(src="javascripts/nonrandomimagegen.js")
    h1 Welcome to Jack's website for Advanced Technology or JWFAT
    h3 Here you will find musical palm trees, gaydar and more. Except not more cause I haven't done that yet
    -
        var imageURLs = [
        "images/external-content.duckduckgo.com.jpeg"
        , "images/jack.jpeg"
        , "images/jack2.jpeg",
        "images/jackcard.jpeg",
        "images/jacklayton.jpeg",
        "images/jackskull.jpeg",
        "images/jackblack.jpeg"
        ];
    - var img;
    - var randomIndex = Math.floor(Math.random() * imageURLs.length);
    - img = imageURLs[randomIndex];
    img(src=img class="profilepic")
    p.subscript this is a picture of me

    p 
    | As you can see I am a very handsome man, baby or skeleton by the name of Jack. I like stairs, bubblegum,kicking ass, jokes about kicking ass and chewing bubblegum, not swearing, and doing other really fun stuff. 
    | Some would say that I'm the best person ever, those people would be very right
    | I'm basically the mesiah of whatever religion you believe in. 
    | I also like 
    a(href = "https://youtu.be/vyItidbjxLM") trains
    | . Also watch out for stairs, I warned you about 
    a(href = "http://www.mspaintadventures.com/sweetbroandhellajeff/" class = "stairs") stairs bro
    | . 
