extends layout

block navstuff
  .container
    .navbar-header
      a.navbar-brand(href="#") Super Tech Hub
    ul.nav.navbar-nav
      li
        a(href="#") Placeholder for new and exciting tech
      li
        a(href="#") Placeholder for new and exciting tech
      li
        a(href="#") Placeholder for new and exciting tech

block content
 
    h1 Welcome to the Musical octo palm tree
    div(id='palmTree')
      svg(id = "svg"  width="100%" height="100%"  preserveAspectRatio="xMidYMid meet")
    .description
      h2 Why a palm tree?
      p I planned to make something entirely different, but github gave the randomly generated repo title "octo-musical-palm-tree". I realised that there truly are not enough of these around so I made one. Problem solved
      br
      p Using only the latest in musical palm tree technology, this palm tree can make several musical notes such as A and B.
      | In addition the leaves are displayed in only the most pristine SVG graphics available to modern(post-2000) browsers.
      | As seen above, this is a free version of the new and upcoming palm-tree technology
      | the next one will be plated gold and feature 8 sounds from multiple instruments in multiple octaves including bagpipes.
      | Please donate 1 million dollars 
      a(href = "https://www.partyrhino.ca/en/donations/") here
      p if you would like to experience this revolutionary and disruptive technology.


      
  




    
