extends layout

block navstuff
  .container
    .navbar-header
      a.navbar-brand(href="#") WebsiteName
    ul.nav.navbar-nav
      li
        a(href="#") Page 1
      li
        a(href="#") Page 2
      li
        a(href="#") Page 3

block content
 
    h1 Welcome to the Musical octo palm tree
    div(id='palmTree')
      svg(id = "svg"  width="100%" height="100%"  preserveAspectRatio="xMidYMid meet")
    .description
      h2 Why a palm tree?
      p I planned to make something entirely different, but github gave the 
      | randomly generated repo title "octo-musical-palm-tree" and I realised that
      | there truly are not enough of these around so I made one. Problem solved

  




    
