extends layout

block nav
    .container
      .navbar-header
        a.navbar-brand(href="#") WebsiteName
      ul.nav.navbar-nav
        li
          a(href="#") Page 1
        li
          a(href="#") Page 2
        li
          a(href="#") Page 3